@model BroadcastMvcApp.ViewModels.CreateChannelAdminViewModel

@{
	ViewBag.Title = "Create new channel";
}

<h1>Create New Channel</h1>

<form method="post" asp-action="CreateChannel" asp-controller="Admin">
	<label>Channel Name :</label>
	<input asp-for="@Model.ChannelName" />
	<span asp-validation-for="@Model.ChannelName"></span>

	<input type="submit" value="create" />
</form>
