@model BroadcastMvcApp.ViewModels.IndexTutorViewModel

@{
ViewBag.Title = "Tutor";
Console.WriteLine(Model.AccountId);
}

<input type="hidden" id="account-id" value=@Model.AccountId />

<link href="~/css/IndexTutorStyle.css" rel="stylesheet /">
  <h1>Channels</h1>
<div id="body-container">
  <div class="channel-container">

    <div class="card-container">
      @foreach (var i in @Model.Channels)
      {
      <div class="card-btn">
	<a onclick="getMessages(@i.Id)">
	  <div class="card">
	    <span>@i.ChannelName</span>
	  </div>
	</a>
      </div>
      }
    </div>
  </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/Tutor/Index.js" defer></script>
