@model BroadcastMvcApp.ViewModels.IndexTutorViewModel

@{
    ViewBag.Title = "Tutor";
}

<link href="~/css/IndexTutorStyle.css" rel="stylesheet /">
<div class="body-container">
    <div class="channel-container">
        <h1>Channels</h1>

        <div class="card-container">
            @foreach (var i in @Model.Channels)
            {
                <div class="card">
                    <span>@i.ChannelName</span>
                </div>
            }
        </div>
    </div>

    <div id="chatBody" class="chat-body">

    </div>

</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/Tutor/Index.js"></script>