.create-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap:25px;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap:5px;
}

.validation{
    font-size:10px;
    color:red;
}

.create-body h1 {
    font-size: 50px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}
