.create-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-body h1 {
    font-size: 50px;
}

.hide-authorization {
    display: none;
}

.hide-department {
    display: none;
}

.hide-semester {
    display: none;
}

.show-authorization {
    display: table-row;
}

.show-department {
    display: table-row;
}

.show-semester {
    display: table-row;
}