.body-container {
    position: relative;
    margin-top: 30px;
}

.channel-container {
    float: left;
    min-width: max-content;
    width: 20%;
    max-width: 30%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat-body {
    float: right;
}

.chat-body h4 {
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    width: fit-content;
}

.card-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-container div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-container div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card {
    background-color: white;
    padding: 20px 20px;
    width: auto;
    transition: background-color 0.2s ease;
}

.card:hover {
    transition: background-color 0.2s ease;
    background-color: green;
    color: whitesmoke;
}

.card-container a {
    text-decoration: none;
    cursor: pointer;
    color: green;
}