.login-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-body h1 {
  font-size: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  font-size: 20px;
}

.link-text {
  color: greenyellow;
}
