body {
  background-color: white;
  color: black;
}

.navbar-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar-item {
  font-size: 23px;
  padding: 10px;
}

.nav-list-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

ul {
  list-style-type: none;
}
