<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BroadcastMvcApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar-container">
            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">BroadcastMvcApp</a>
            <ul class="nav-list-container">
                <li class="nav-text">
                    <a class="" asp-controller="Account" asp-action="Login">Log
                        In</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="body-container">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
